{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenu dans ce blog!</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias natus doloribus sint vero quia, alias accusamus
    cum libero delectus molestiae iste, incidunt, error maiores odit. Reprehenderit est dolorem similique obcaecati.</p>
<p>Harum itaque eaque distinctio repellat et. Esse ipsam ut deserunt eveniet saepe animi consequuntur incidunt officiis,
    nemo quaerat magni illum recusandae ad. Autem asperiores, quis deleniti animi nemo doloremque dolores!</p>
<p>Culpa quod modi nemo vitae pariatur nostrum fugiat ut nihil ipsa libero repudiandae enim, rem eos temporibus
    cupiditate quidem dolor ipsum illum voluptate! Recusandae nulla accusantium numquam assumenda cum. Possimus?</p>
<p>Cumque neque nihil illo ipsum labore obcaecati dolor nam deleniti! Architecto, tenetur ut similique eaque nulla
    beatae, odio adipisci explicabo debitis harum facilis nemo ducimus numquam rem expedita, sunt voluptatibus.</p>
<p>Corporis, aut tenetur unde mollitia sequi animi, placeat cupiditate, modi ullam molestias tempore iste quisquam culpa
    dolorum velit officiis quaerat sapiente dolore facere sunt fuga. Incidunt delectus alias aut quas.</p>
<p>Corporis sed praesentium autem vero temporibus sint necessitatibus labore mollitia sapiente, aperiam pariatur non
    magnam at obcaecati nisi reprehenderit voluptatem ipsum perferendis error accusamus fugiat exercitationem numquam?
    Molestiae, nostrum a?</p>
<p>Cum quos exercitationem deserunt officiis quas dolorem quia! Commodi provident illo facere sapiente, ducimus placeat
    ipsam est reprehenderit blanditiis possimus voluptatem iste eaque consequatur deleniti repellat doloremque, expedita
    assumenda necessitatibus!</p>
<p>Aliquid ea excepturi ut, nostrum optio molestias quos libero vero ex quod beatae facere voluptatum ipsum, sit eveniet
    quisquam. Debitis enim aliquam suscipit nesciunt obcaecati sapiente iure possimus! Ea, reiciendis?</p>
<p>Aut magni, beatae ipsum labore similique, laboriosam iusto libero quae ea, velit sit id! Voluptatem ipsam numquam
    dolores voluptates quas quisquam atque magnam officiis ratione nulla aperiam reprehenderit, omnis cum?</p>
<p>Eaque totam est, minus, illum inventore dolores aspernatur magnam perferendis porro ea quidem quis corporis atque
    repellat? Sit tempora nobis, autem recusandae quam voluptas nesciunt adipisci maxime sint iusto incidunt!</p>

{% endblock %}